body {
  background: #bada55;
  color: white;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: 'Helvetica', sans-serif;
}

div {
  margin: 13px 0;
}
p {
  margin: 7px 0;
}

pre {
  padding: 7px;
  background: #efefef;
  color: #111;
}

h1,
h2,
h3 {
  border-bottom: 1px solid #666;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main-content {
  width: 800px;
}

.aside-content {
  width: 400px;
}

.aside-content .tab {
  height: 300px;
  overflow-y: auto;
}
